<div class="flex flex-wrap justify-center items-center gap-8 mt-[55px] px-4 md:px-0">
    <div class="relative w-full max-w-[480px] md:w-auto">
        <img class="w-full max-w-[480px]" src="images/authnilebrand.png" />
        <img class="absolute w-[120px] inset-0 top-[40%] mx-auto" src="images/nile brand.png" />
    </div>

    <div class="w-full h-[600px] max-w-[375px] p-6">
        <h2 class="text-[28px] md:text-[35px] font-[700] text-fontColor text-center md:text-left">
            Forgot Password?
        </h2>
        <p class="mt-2 text-[20px] text-secondary">
            Enter your email address to get the password reset link.
        </p>

        <form class="mt-12" [formGroup]="form" (ngSubmit)="onSend()">
            <div class="relative">
                <label for="email"
                    class="absolute left-4 top-[-15px] text-[16px] md:text-[20px] text-fontColor bg-white px-1">
                    E-mail
                </label>
                <input id="email" type="email" formControlName="email" placeholder="hello@gmail.com"
                    class="block w-full px-4 pt-2 pb-2 mt-2 bg-white rounded-lg placeholder:text-placeholder" />
                <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="text-red-500 text-sm mt-1">
                    <p *ngIf="form.get('email')?.hasError('required')">Email Required</p>
                    <p *ngIf="form.get('email')?.hasError('email')">Invalid email</p>
                </div>
            </div>

            <div *ngIf="invalidMsg" class="text-red-500 text-sm mt-2">{{ invalidMsg }}</div>

            <button type="submit" [disabled]="form.invalid || isLoading"
                class="w-full mt-12 px-6 py-2 text-[16px] md:text-[20px] text-white bg-primary rounded-full">
                {{ isLoading ? 'Sending…' : 'Password Reset' }}
            </button>
        </form>
    </div>
</div>
  