<div class="min-h-screen">
    <div class="grid grid-cols-8">
        <div class="col-span-1 sm:col-span-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="mt-4 col-span-8 sm:col-span-6 items-center justify-center">
            <div class="flex items-center gap-12 sm:ml-28">
                <div class="w-[70%]">
                    <form class="relative w-full">
                        <div class="absolute inset-y-0 left-2 flex items-center text-fontColor dark:text-white">
                            <svg class="w-4 h-4 sm:w-5 sm:h-5" aria-hidden="true" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                            </svg>
                        </div>
                        <input type="search"
                            class=" w-full px-2 sm:px-3 py-1 sm:py-2 pl-8 sm:pl-10 text-xs sm:text-sm border border-gray-300 rounded-lg bg-gray-50 focus:ring-0 focus:border-primary outline-none dark:bg-fontColor dark:border-fontColor dark:text-white dark:placeholder-fontColor transition-all duration-300"
                            placeholder="What are you looking for?" required />
                    </form>
                </div>
                <div class="max-w-[50px] max-h-[50px]">
                    <img [src]="avatarUrl" class="w-full h-full rounded-full object-cover" alt="Profile Image"
                        (error)="avatarUrl='images/ProfileImg.png'" />
                </div>
            </div>
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>