<div class="flex flex-wrap justify-center items-center gap-8 mt-[55px] px-4 md:px-0">
    <div class="relative w-full max-w-[480px] md:w-auto">
        <img class="w-full max-w-[480px]" src="images/authnilebrand.png" />
        <img class="absolute w-[120px] inset-0 top-[40%] mx-auto" src="images/nile brand.png" />
    </div>

    <div class="w-full h-[600px] max-w-[375px] p-6">
        <h2 class="text-[28px] md:text-[35px] font-[700] text-fontColor text-center md:text-left">
            Reset Password
        </h2>
        <p class="mt-2 text-[20px] text-secondary">
            Enter your new password twice below to reset a new password.
        </p>

        <form class="mt-10" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="relative">
                <label for="password"
                    class="absolute left-4 top-[-15px] text-[16px] md:text-[20px] text-fontColor bg-white px-1">
                    New Password
                </label>
                <input id="password" type="password" formControlName="password" placeholder="••••••••"
                    class="block w-full px-4 pt-2 pb-2 mt-2 bg-white rounded-lg placeholder:text-placeholder" />
                <div *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')"
                    class="text-red-500 text-sm mt-1">
                    Password Required
                </div>
            </div>

            <div class="relative mt-8">
                <label for="confirmPassword"
                    class="absolute left-4 top-[-15px] text-[16px] md:text-[20px] text-fontColor bg-white px-1">
                    Confirm Password
                </label>
                <input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="••••••••"
                    class="block w-full px-4 pt-2 pb-2 mt-2 bg-white rounded-lg placeholder:text-placeholder" />
            </div>

            <div *ngIf="errorMessage" class="text-red-500 text-sm mt-2">{{ errorMessage }}</div>

            <button type="submit" [disabled]="form.invalid || isLoading"
                class="w-full mt-12 px-6 py-2 text-[16px] md:text-[20px] text-white bg-primary rounded-full">
                {{ isLoading ? 'Resetting…' : 'Reset Password' }}
            </button>
        </form>
    </div>
</div>
  